<!DOCTYPE html>
<html lang=zh>
<%- include ../common/head.ejs %>
<body>
<%- include ../common/header.ejs %>
<main id='tags'>
    <div class="tags-container">
        <div id='tag_cloud' class="tags">
            <a href="/h5-Games" title="h5 Games" rel="1">h5 Games</a>
        </div>

        <div class="tag-list">
            <span class="fa fa-tag listing-seperator" id="h5_Games">
                <span class="tag-text">h5 Games</span>
            </span>
            <div class="post-preview">
                <a href="/2018/06/30/myGames/">
                    <h2 class="post-title">
                        h5游戏 -XXHD
                    </h2>
                </a>
                <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
            </div>
        </div>

    </div>
</main>

<%- include ../common/footer.ejs %>
</body>
</html>
