<!DOCTYPE html>
<html lang=en>
<%- include ../../../common/head.ejs %>

<body>
<%- include ../../../common/header.ejs %>
<main id="archive">
    <div class="content">

        <div class="year-list">
            <h3>2018</h3>
            <ul>

                <li>
                    <time>2018/06/30</time>
                    <a href="/2018/06/30/myGames/">
                <span>
                    h5游戏 -XXHD
                </span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</main>

<%- include ../../../common/footer.ejs %>
</body>
</html>
